:root {
  --card-width: 365px;
  --round-corner: 10px;
  --card-box-shadow: 0 3px 2px #8080805c;
  --card-bg-color: white;
  --card-padding: 1.5rem
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: grid;
  grid-template-columns: 90px 1fr;
  background-color: #8080801a;
}

.sidebar {
  background-color: #373b53;
  height: 100vh;
}


header {
  text-align: left;
  margin-bottom: 2rem;
}

header h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.content-container {
  padding: 2rem;
  margin-top: 3rem;
}

.sub-head {
  display: inline-block;
  color: gray;
}

.ui-card {
  display: flex;
  padding: var(--card-padding);
  width: var(--card-width);
  height: 140px;
  border-radius: var(--round-corner);
  box-shadow: var(--card-box-shadow);
  margin-right: 2rem;
  background-color: var(--card-bg-color);
  flex-direction: row;
  align-items: center;
}

.ui-card-img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: lightgreen;
  text-align: center;
  margin-right: 2rem;
}

.ui-card-img > img {
  width: 50px;
  height: 60px;
}

.stats-container {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.list-container {
  width: var(--card-width);
  border-radius: var(--round-corner);
  box-shadow: var(--card-box-shadow);
  margin-right: 2rem;
  padding: var(--card-padding);
  background-color: var(--card-bg-color);
}

.list-item {
  padding: 10px 0;
  display: flex;
}

.list-item-img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background: lightskyblue;
  border-radius: 50%;
}

hr {
  border-width: 0.1px;
  border-color: #8080804f;
}

.list-item-highlight {
  font-weight: bold;
}

.list-item-stats {
  line-height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list-container-title {
  font-weight: bold;
  font-size: 0.9rem;
}

.primary-stats {
  font-weight: bold;
  font-size: 1.2rem;
}

.secondary-stats {
  font-size: 1rem;
  color: dimgrey;
  display: inline-block;
  padding: 0 3px;
}

.stats-description{
  color: dimgrey;
  margin: 5px 0;
  font-size: 0.9rem;
}

.list-item-stats-primary {
  color: dimgrey;
}

.student-list-title {
  display: flex;
  justify-content: space-between;
}

.btn-toggle-order {
  border: none;
  background-color: transparent;
  color: dimgrey;
  cursor: pointer;
}
